@charset "UTF-8";

.footer-title {
    font-size: 25px;
    color: white;
    text-align: center;
}

.ul-footer {
  list-style-type: none;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #1E90FF;
}

#link-footer {
    color:white;
}